<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928726006564-53ctulqprf2u595uto1p90f6l17n5gk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928726006564-53ctulqprf2u595uto1p90f6l17n5gk8</string>
	<key>API_KEY</key>
	<string>AIzaSyBqfp6Ad-__2qUnAmlVGs-nhs-WL-CfdG0</string>
	<key>GCM_SENDER_ID</key>
	<string>928726006564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.butlr</string>
	<key>PROJECT_ID</key>
	<string>crud-hr08</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-hr08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928726006564:ios:960bfcebeb26567a8411b1</string>
</dict>
</plist>